<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PDF Snap</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body class="light-theme">
  <header>
    <div class="container">
      <div id="branding">
        <h1>PDF Snap</h1>
      </div>
      <nav>
        <button id="theme-toggle">Toggle Dark Theme</button>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="content">
      <h2>Welcome to PDF Snap</h2>
      <p>
        Our PDF Snap tool allows you to effortlessly upload and analyze PDF documents. Extract critical information
        including names, dates, titles/positions, organizations, URLs, emails, phone numbers, and addresses.
        Additionally, generate a detailed document summary with key points highlighted for quick insights.
      </p>
      <h2>Upload PDF</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
      </form>
    </div>
  </div>

  <footer>
    <p>This project is for educational purposes only. Made by Ansh Kumar Tripathi. <a
        href="https://www.linkedin.com/in/ansh-kumar-tripathi-64841a2b5/" target="_blank">LinkedIn</a></p>
  </footer>

  <script src="static/theme.js"></script>
</body>

</html>